/* ----------- RESET ---------------*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		box-sizing: border-box;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/* ----------- LAYOUT --------------- */

	html {
		height: 100%;
		
		background-color: #1A2526;
	}

	body {
		position: relative;
		color: white;
		background-color: #222;
	}

	#all {
		margin: 0 auto;
	}

/* ----------- LANDING --------------- */

	#landing{
		height: 100vh;
		width: 100%;
		background:
			linear-gradient(
			  rgba(0, 0, 0, .9),
			  rgba(34, 34, 34, .6)
			),
			url("images/guitar.jpg");
		background-size: cover;
		background-position: center center;
		border-bottom: 10px #C88A12 solid2
		-webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
		box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
		position: relative;
	}

	#landing-inner{
		position: absolute;
		top: 50%; left: 50%;
		transform:translate(-50%, -50%);
		text-align: center;
	}

	#landing h1 {
		color: #00B6BE;
		font-size: 3.3rem;
		font-family: "Exo", Arial, sans-serif;
		font-style: italic;
		font-weight: 600; 
		margin: 2vh 0 0 0;
		white-space: nowrap;
	}

	#landing h2 {
		font-family: "Exo", Arial, sans-serif;
		font-style: italic;
		font-weight: 600; 
		font-size: 1.5rem;
		color: white;
		margin-top: 2vh;
	}

	.landing-action-button{
		display: block;
		width: 15rem;
		height: 4rem;
		line-height: 4rem;
		box-sizing: content-box;
		color: white;
		text-transform: uppercase;
		background-color: #18777C;
		border: 5px solid rgba(0,0,0,0);
		color: white;
		text-decoration: none;
		font-family: "Open Sans", "Roboto", Arial, sans-serif;
		font-weight: bold;
		font-size: 1.5rem;
		margin: 10vh auto 0;
		cursor: pointer;
		transition: .15s ease;
	}

	.landing-action-button:hover{
		background: none;
		border: 5px solid #00B6BE;
		color: #00B6BE;
	}

	.landing-action-button:active{
		background-color: #515356;
		color: white;
		border: 5px solid rgba(0,0,0,0);
	}

	.landing-normal-button{
		display: block;
		width: 15rem;
		font-family: "Open Sans", "Roboto", Arial, sans-serif;
		color: #00B6BE;
		font-size: 1.3rem;
		line-height: 4rem;
		margin: 0 auto -.5rem;
		text-decoration: none;
		transition: .1s;
	}

	.landing-normal-button:visited{
		color: #00B6BE;
	}

	.landing-normal-button:hover{
		color: white;
	}

/*-------------- INFO --------------*/
	
	#info{
		width: 80%;
		max-width: 800px;
		font-size: 1.1rem;
		line-height: 1.7rem;
		margin: 0 auto;
		color: #ccc;
	}

	#info p{
		width: 100%;
		margin: 1.2rem 0;
	}

/*---------------- EXTRA ----------------*/

	#extra{
		width: 80%;
		max-width: 800px;
		font-size: 1.1rem;
		line-height: 1.7rem;
		margin: 0 auto;
		color: #ccc;
		text-align: center;
	}

	#extra p{
		width: 100%;
		margin: 1.2rem 0;
		text-align: left;
	}

	#extra button{
		line-height: 3rem;
		text-transform: uppercase;
		font-family: "Exo", Arial, sans-serif;
		font-style: italic;
		font-weight: 600; font-size:1.2rem;
		box-sizing:border-box;
		padding: 0 2rem;
		margin: 0 auto .5rem;
		background-color: #18777C;
		border:3px solid #18777C;
		color: #fff;
		cursor: pointer;
		display: block;
	}

	#extra button:hover{
		color:#00b6be;
		background-color:#fff;
	}

	#extra .item-desc{
		margin: 0 0 2rem;
	}

/* -------------- COOL BACKGROUND -------------- */

	#imagefade{
		width:100%;
		height: 300px;
		background:
			linear-gradient(
			  rgba(0, 0, 0, 0.6),
			  rgba(34, 34, 34, 1)
			),
			url("images/guitar.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		margin: 0 0 -270px 0;
	}

/* ------------- TIMER --------------- */

	#timer {
		text-align: center;
		opacity: 0;
	}

	#timer p{
		font: "Open Sans", Arial, sans-serif;
		font-weight: 600;
		font-style: italic;
		color: #999;
	}

	#timer h2 {
		font: italic 3rem "Exo", Arial, sans-serif;
		line-height: 3.5rem;
		margin-bottom: 30px;
	}

/* ------------- QUESTION --------------- */

	#question{
		font-size: 1.5vw;
		text-align:center;
		width: 100%;
		user-select: none;
	}

	#question-text {
		font: 1.2rem "Open Sans", Arial, sans-serif;
		font-weight: 400;
		color: #ccc;
		opacity: 0;
	}

	#spotlight {
		display:inline-block;
		line-height: 0;
		margin: 20px 0 20px;
		opacity: 0;
	}

	#question-play {
		color: #666;
		font-size: 5em;
		display: inline-block;
		margin: 0 0 0 20px;
		cursor: pointer;
		opacity: 0;
	}

	#question-title{
		font: italic 3em "Exo", Arial, sans-serif;
		line-height: 1em;
		text-align: right;
		color: #00B6CE;
		cursor: pointer;
	}

	#question-artist{
		font: italic 1.2em "Exo", Arial, sans-serif;
		font-weight: 600;
		text-align: right;
		color: #00B6CE;
		cursor: pointer;
	}

	#question-video{
		width: 90%;
		margin: 0 auto;
		display: none;
	}

	.aspect-ratio{
		position: relative;
		height: 0;
		padding-bottom: 60%;
	}

	.aspect-ratio iframe {
		position: absolute;
		left: 0; top: 0;
		width:100%;
		height:100%;
	}

/* ------------- SEARCH BAR ----------- */

	#search-bar {
		width: 90%;
		max-width: 1000px;
		margin: 40px auto 0;
		opacity: 0;
	}

	#query {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		display:inline-block;
		width:90%;
		background-color: rgba(30,30,30,.5);
		line-height:3rem;
		font-size:1.2rem;
		font-family: "Open Sans", "Roboto", Arial, sans-serif;
		text-align: center;
		color: #fff;
		border:3px solid #00b6ce;
		outline: none;
		vertical-align: text-top;
	}

	#query:hover{
		border:3px solid #fff;
	}

	#search{
		box-sizing:border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		display:inline-block;
		width:10%;
		background-color: #00b6ce;
		border:3px solid #00b6ce;
		color:#fff;
		cursor:pointer;
		font-size:2rem;
		line-height:3rem;
		vertical-align: text-top;
	}

	#search:hover{
		color:#00b6be;
		background-color:#fff;
		border:3px solid #fff;
	}

/* ------------- SEARCH RESULTS ------------- */

	#results,#current{
		width: 90%;
		max-width: 1000px;
		margin: 10px auto;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-gap: 10px;
	}

	.song,.selected{
		position: relative;
		height: 300px;
	}

	.albumcover{
		top:0;
		position: absolute;
		width:100%;
		height: 250px;
		background-repeat: no-repeat;
		background:
			linear-gradient(
			  rgba(0, 0, 0, .9),
			  rgba(34, 34, 34, .6)
			);
	}

	.songtitle{
		font: italic 1.2rem "Exo", Arial, sans-serif;
		font-weight: 600;
		color: #00b6ce;
		margin: 20px 0 0;
		padding: 0 20px;
		pointer-events: none;
		position: relative;
		z-index: 10;
	}

	.artist, .album{
		font: "Open Sans", Arial, sans-serif;
		color: #ccc;
		margin: 10px 0;
		padding: 0 20px;
		pointer-events: none;
		position: relative;
		z-index: 10;
	}

	.select-button{
		position: absolute;
		height: 40px;
		width: 100%;
		bottom: 0; left: 0;
		box-sizing:border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		background-color: #00b6ce;
		border:2px solid #00b6ce;
		color:#fff;
		font-size:2rem;
		text-transform: uppercase;
		cursor: pointer;
		font: italic 1.2rem "Exo", Arial, sans-serif;
		font-weight: 600;
		opacity:.1;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.select-overlay{
		position:absolute;
		height:100%; width:100%;
		top:0; left:0;
		background-color: #18777C;
		display: none;
		z-index: 20;
		text-align: center;
		text-transform: uppercase;
		font: italic 1.2rem "Exo", Arial, sans-serif;
		font-weight: 600; font-size:2rem;
		padding: 4rem 0 0 0;
		color: #222;
	}

/*--------------- QUIZ ----------------*/

	#quiz{
		width: 80%;
		max-width: 600px;
		margin: 10px auto;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		grid-gap: 50px;
	}

	#quiz-song1, #quiz-song2{
		position: relative;
		height: 300px;
	}

	#quiz-buttons{
		text-align:center;
	}

	.quiz-choice{
		line-height: 3rem;
		text-transform: uppercase;
		font: italic 1.5rem "Exo", Arial, sans-serif;
		font-weight: 600; font-size:1.5rem;
		box-sizing:border-box;
		padding: 0 2rem;
		margin: 2rem auto;
		background-color: #00b6ce;
		border:3px solid #00b6ce;
		color: #fff;
		cursor: pointer;
		display: inline-block;
	}

	.quiz-choice:hover{
		color:#00b6be;
		background-color:#fff;
		border:3px solid #fff;
	}

/*-------------- GAME RESULTS -----------------*/

	#result-survey{
		width: 80%;
		max-width: 1000px;
		line-height: 1.7rem;
		margin: 0 auto;
	}

	#result-survey ul{
		list-style-type: square;
		width: 100%;
		padding: 0 0 0 2em;
	}

	#result-survey li{
		margin: .5em 0;
	}

	#result-quiz{
		width: 80%;
		max-width: 1000px;
		line-height: 1.7rem;
		margin: 0 auto;
	}

	#result-quiz ul{
		list-style-type: square;
		width: 100%;
		margin: .5em 0;
		padding: 0 0 0 2em;
	}

	#result-quiz li{
		margin: .5em 0;
	}

/* ------------- NEXT BUTTON ----------- */

	#finish{
		line-height: 3rem;
		text-transform: uppercase;
		font: italic 1.5rem "Exo", Arial, sans-serif;
		font-weight: 600; font-size:1.5rem;
		box-sizing:border-box;
		padding: 0 2rem;
		margin: 2rem auto;
		background-color: #00b6ce;
		border:3px solid #00b6ce;
		color: #fff;
		cursor: pointer;
		display: block;
	}

	#finish:hover{
		color:#00b6be;
		background-color:#fff;
		border:3px solid #fff;
	}

/* ------------- FOOTER ------------- */

	#footer{
		width: 100%;
		height: 200px;
		border-top: 5px #18777C solid;
		background-color: #1A2526;
		margin: 5rem 0 0 0;
		color: #444;
		padding: 2rem;
	}

	#footer p{
		text-align: center;
		margin: 10px 0;
	}

	#footer a{
		color: #18777C;
	}

	#footer a:visited{
		color: #18777C;
	}	

/* ------------ JPLAYERS -------------- */

	.player{
		position: absolute;
		width: 100%;
		height: 35px;
		bottom: 0;
	}
	.player button{
		display:inline-block;
		vertical-align: text-top;
		box-sizing:border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		background-color: #00b6ce;
		border:3px solid #00b6ce;
		color:#fff;
		font-size:1.2rem;
		width:15%;
		height:100%;
	}
	.player .progress-bar{
		display: inline-block;
		vertical-align: text-top;
		width:85%;
		height:100%;
	}

	.jp-seek-bar{
		background: rgba(34, 34, 34, .5);
		position: relative;
		width: 0;
		height: 100%;
		cursor: pointer;
	}
	.jp-play-bar{
		background: teal;
		width: 0px;
		height:100%;
		cursor: pointer;
	}
	.player .time{
		position: absolute;
		left: 50%; top: 50%;
		transform:translate(-50%, -50%);
	}
	.fa-pause{
		display: none !important;
	}
	.jp-state-playing .fa-play{
		display: none !important;
	}
	.jp-state-playing .fa-pause{
		display: inline-block !important;
	}

	/* youtube iframe */
	.albumcover iframe{
		position:absolute;
		top:0; left:0;
		height:100%;
		width:100%;
		z-index: 2;
	}

/* ------------- RESPONSIVE ---------- */
	/* tablet & phone */
	@media (max-width: 900px){
			html { font-size: 16px; }
	}

	/* desktop */
	@media (min-width: 900px){
	}

	@media (min-width: 900px) and (max-width: 1500px) {
	}

	/* wide desktop */
	@media (min-width: 1500px){
	}

/* -------------- FONTS & FORMATTING -------------- */

	body{
		font-family: "Open Sans", "Roboto", Arial, sans-serif;
	}

	h1,h2,h3,h4,h5,h6{
		font: italic 1.2rem "Exo", Arial, sans-serif;
		font-weight: 600; 
		color: #00B6CE;
	}

	.h2{
		font: italic 1.2rem "Exo", Arial, sans-serif;
		font-weight: 600; 
		color: #00B6CE;
		font-size: 2rem;
		width: 90%;
		max-width: 1000px;
		text-align: center;
		margin: 4rem auto;
	}

	a{
		text-decoration: none;
		color: #00B6CE;
	}

	a:visited{
		color: #00B6CE;
	}

	a:hover{
		color: #99c2ff;
	}

	ol{
		list-style-type: decimal;
		margin: 1em 0 0;
		padding: 0 0 0 2.5em;
	}

	ul{
		list-style-type: square;
		margin: 1em 0 0;
		padding: 0 0 0 2.5em;
	}

	blockquote {
		border-left: 1em solid #555;
		margin: 1em 10px 0;
		padding: 0.5em 10px;
		quotes: "\201C""\201D""\2018""\2019";
	}

	blockquote:before {
		color: #666;
		content: open-quote;
		font-family: Times, serif;
		font-size: 4.5em;
		line-height: 0.1em;
		margin-right: 0.2em;
		vertical-align: -0.4em;
	}

	blockquote p {
		display: inline;
	}

	pre {
		width:95%;
		overflow: auto;
		font-family: monospace;
		background-color: #404040;
		margin: 1em auto 0;
		padding: .5em 10px;
	}

	code{
		font-family: monospace;
		background-color: #404040;
		padding: 0 4px;
	}

	strong{
		font-weight: 600;
	}

	em{
		font-style: italic;
	}

/* -------------- TABLE ----------------- */

	table{
		margin: 2em auto 2em;
		text-align: left;
		line-height: 2.5em;
	}

	th{
		font-family: "Titillium Web", Tahoma, Arial, sans-serif;
		font-size: 1.25em;
		font-weight: 600;
		color: #00B6CE;
		border-bottom: 2px solid #00B6CE;
		padding: 0 .5em .25em;
	}

	td{
		padding: 0 2em 0 .5em;
	}

/*---------------- UTILITY ----------------*/

.hideAtFirst { display: none !important; }
.songName { font-weight: bold; color: #00b6ce; }
#infoo,#extraa{
	display: block;
	position: relative;
	top: -2rem;
	visibility: hidden;
}
.highlight { color: #00b6ce; }
#loading { width: 300px; margin: 200px auto; text-align: center; }